bcrypt
blinker
certifi
charset-normalizer
click
dnspython
email_validator
Flask
Flask-WTF
gunicorn
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
packaging
pymongo
requests
urllib3
Werkzeug
WTForms
zipp